/*shared style*/
* {
  margin: 0;
  padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    color:white;
    background: linear-gradient(25deg, yellow, rgb(232, 7, 164), navy);
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 1000px;
    border: none;
}
.color{
    background: linear-gradient(25deg, yellow, rgb(232, 7, 164), navy);
    -webkit-background-clip: text;
    color: transparent;
}

.section-heading{
    font-size: 48px;
    font-weight: 700;
    color: white;
}

/*main style*/

/*style for header*/
header{
    width: 100%;
    background-color: #1A0B2E;
}
nav{
    display: flex;
    justify-content: space-between;
    width:75%;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
}
nav h1{
    font-size: 48px;
    font-weight: 700;
    color: white;
    padding: 30px 0;
}
.menu{
    display: flex;
    gap: 32px;
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 120%;
}
#banner{
    border-top: #412567 solid;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 1px;
}

.banner-container{
    width: 34%;
   /* border: rgb(35, 194, 41) solid;*/
    margin: 101px auto;
    justify-items: center;
}

.images-container{
position: relative;
}
.images-container p{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #1A0B2E;
    padding: 8px 16px 8px 16px;
    background-color: #00FF88;
    border-radius: 40px;
    text-align: center;
    top: 15px;
    right: 25px;
    box-shadow: 0px 0px 10px 5px #00ff1537;
}

.microphone-image{
    position: absolute;
    top:80px;
    right: 115px;
}
.banner-info h3{
    font-size: 60px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-top: 40px; 
    margin-bottom: 8px;
}
.banner-info p{
    font-size: 16px;
    color: white;
    margin-bottom: 24px;
}
.btn2{
    font-size: 16px;
    font-weight: 600;
    color:#00FF88;
    border-radius: 10000px;
    border: #00FF88 solid;
    background: transparent;
    padding: 12.5px 20px;
}

/*style for about section*/
#about{
    width: 100%;
    background-color: #1A0B2E;
}
.about-info{
    width:75%;
    max-width: 1200px;
    padding-bottom: 80px;
    padding-top: 50px;
    margin:auto;
    justify-items: center;
}

.about-info p{
    color: rgba(255, 255, 255, 0.744);
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
}
#card-container{
    width:75%;
    max-width: 1200px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 120px;
    display:flex;
    justify-content: space-between;
    border-top: #412567 solid;
}
.card{
    display: grid;
    gap: 16px;
}
.card h2{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}
.card p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.868);
    line-height: 20px;
}

/*style for why choose section*/
#choosing-reason{
    width: 100%;
    background-color: #230E3D;

}
.choosing-reason-info{
    width:75%;
    max-width: 1200px;
    padding-bottom: 120px;
    padding-top: 120px;
    margin:auto;
    justify-items: center;
    display: grid;
    gap: 40px;
}
.reason-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card1{
    grid-row: span 2;
}
.card2, .card3, .card4{
    grid-column: span 2;
}
.reason-card{
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
    display: grid;
    align-content: center;
    gap: 16px;
}
.reason-card h2{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.reason-card p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 24px;
}
/*style for feature episodes sectipn*/
#featured-episodes{
    width: 100%;
    background-color: #1A0B2E;

}
.episodes-container{
    width:75%;
    max-width: 1200px;
    padding-bottom: 120px;
    padding-top: 120px;
    margin:auto;
    justify-items: center;
    display: grid;
    gap: 40px;
}
.episodes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.episode-card{
    background-color: #250d44;
    border-radius: 40px;
}
.video{
    position: relative;
    aspect-ratio: 380/214;
    overflow: hidden;
}
.video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px 40px 0px 0px;
}
.info{
    padding: 24px;
    display: grid;
    gap: 12px;

}
.info h2{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.info p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 24px;
}

#host{
    width:75%;
    max-width: 1200px;
    padding-bottom: 120px;
    margin:auto;
    justify-items: center;
    display: grid;
    gap: 40px;
}

.host-info{
    display: flex;
    background-color: #351165;
    border-radius: 40px;
    gap: 24px;
    padding: 40px;
}
.host-info .description{
    display: grid;
    gap: 16px;
}
.host-info .description .icon{
    display: flex;
    gap: 8px;
}
.host-info .description .icon img{
    border-radius: 50%;
    border: #412567 solid;
    max-width: 40px;
    max-height: 40px;
    padding: 10px;
}
.host-info h2{
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.host-info p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 24px;
}

#footer{
    width: 100%;
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-info{
    width: 85%;
    max-width: 1360px;
    display: grid;
    gap: 32px;
    justify-items: center;
    margin: auto;
    padding: 120px;
}
.footer-info h1{
    font-size: 60px;
    font-weight: 900;
    color: white;
}
.footer-icon{
    display: flex;
    gap: 40px;
}
.footer-icon-img{
    display: flex;
    gap: 8px;
    font-size: 16px;
    color:rgba(255, 255, 255, 0.4);
}
.footer-info p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 24px;
}
#menu-toggle {
    display: none;
}
.hamburger{
    display: none;
}

/* fro Mobile Device */
@media (max-width:576px){

    .hamburger{
        display: block;
    }
    .menu{

        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background: #1a032b;
        flex-direction: column;
        align-items: center;
        padding: 16px 0 16px 0;
        gap: 20px;
        display: none;
        z-index: 1;
    }
    nav .btn{
        display: none;
    }
      #menu-toggle:checked + .hamburger + .menu {
        display: flex;
    }
    .banner-container{
        width: 91%;
        max-width: 400px;
        margin: 40px auto;
    }

    .circle-image{
        height: 200px;
        width: 200px; 
}
    .microphone-image{
        height: 80px;
        width: 80px; 
        top:60px;
        right: 60px;
}
.banner-info h3{
    font-size: 40px;
}
.about-info, .choosing-reason-info, .footer-info{
    width: 91%;
    max-width: 400px;
    padding: 40px 0px 40px 0px;
}
.section-heading{
    font-size: 30px;
}
#card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.reason-card-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
}
.reason-card{
    padding: 24px;
}
.reason-card h2{
    font-size: 22px;
}
.episodes-container{
    width: 91%;
    max-width: 400px;
    padding: 40px 20px 60px 20px;
}
.episodes{
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
}
.info{
    padding: 12px;
    gap: 8px;
}
.info h2{
    font-size: 20px;
}
#host{
    width:91%;
    max-width: 400px;
    padding:0px 20px 40px 20px;
    gap: 24px;
}
.host-info{
    display: grid;
    gap: 16px;
    padding: 24px;
    justify-items: center;
}
.host-info .description{
    justify-items: center;
    text-align: center;
}
.footer-info{
    gap: 24px;
}
.footer-info h1{
    font-size: 52px;
}
.footer-icon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}



}
